:root {
    --first-color: #304c66;
    --second-color: #7da4c9;
    --third-color: #bdc1c5;
    --fourth-color: #ecf0f5;
    --fifth-color: #444749;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--first-color);
    background-color: var(--fourth-color);
    font-family: "Montserrat";
    width: 100%;
    overflow-x: hidden;
}

/* navigation style start */
header {
    padding: 30px 0 30px 0;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: solid 10px var(--second-color);
}

header h1 {
    font-weight: bold;
    font-size: 32px; 
    margin: 15px 0 15px 45px;
}

.header-box {
    content: "";
    height: 100%;
    width: 435px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

header a {
    text-decoration: none;
    color: var(--first-color);
}

header nav {
    margin: 20px 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 30px;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

/* navigation style start */
.hero {
    background-image: url("../images/kohr-development-hero.jpg");
    height: 450px;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-subtitle {
    text-align: right;
    line-height: 1.5;
    margin: 150px 350px 0 0;
}

.hero-subtitle h2 {
    font-size: 36px;
    font-weight: lighter;
    color: var(--first-color);
}

.hero-subtitle h3 {
    font-style: italic;
    font-size: 24px;
    color: var(--first-color);
}

/* about me style start */ 
.about-me {
    display: flex;
}
  
.about-me h3, .my-work h3 {
    height: 100px;
    width: 100px;
    font-size: 28px;
    text-align: right;
    margin: 35px 12px 0 50px;
}
  
.about-me p { 
    flex-grow: 1;
    margin: 35px 100px 20px 10px;
    padding: 0 0 0 50px;
    font-size: 18px;
    line-height: 1.5;
    border-left: 3px solid var(--first-color);
}

.my-work h3 {
    margin: 40px 12px 0 50px;
    width: 100px;
}

.container {
    flex-grow: 1;
    padding: 0 0 0 20px;
    margin: 40px 10px 20px 10px;
    border-left: 3px solid var(--first-color);
}

.img {
    border: 5px solid var(--first-color);
}

.button {
    background-color: var(--first-color);
    font-weight: normal;
    font-size: 14px;
}
  
.references div { 
    font-size: 14px;
    font-weight: bold;
    min-height: 3rem;
    display: flex;
    align-items: flex-end;
}


/* MEDIA QUERY FOR 980PX SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   
    header {
        padding-bottom: 30px;
    }

    header nav {
        margin-bottom: -10px;
    }

    header nav ul li a {
        margin: 0;
    }

    .button {
        font-size: 10px;
    }

    .references div { 
        font-size: 12px;
        font-weight: bold;
        min-height: 2rem;
    }
}

/* MEDIA QUERY FOR 768PX SCREENS AND SMALLER */
@media screen and (max-width: 768PX) {

    .header-box {
        content: "";
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    } 

    .hero-subtitle {
        margin: 150px 200px 0 0;
    }

    .about-me {
        display: block;
      }
      
    .about-me h3, .my-work h3 {
        width: 80%;
        height:20px;
        font-size: 36px;
        text-align: left;
        margin: 30px 50px 10px 50px;
    }
      
    .about-me p { 
        width:80%;
        margin: 30px 65px 0 50px;
        padding: 30px 10px 0 0;
        font-size: 14px;
        line-height: 1.5;
        border-top: 3px solid var(--first-color);
        border-left: none;
    }

    .container {
        width: 100%;
        margin-left: 50px;
        padding-top: 30px;
        border-top: 3px solid var(--first-color);
        border-left: none;
    }

    .button {
        background-color: var(--second-color);
        font-weight: normal;
        font-size: 8px;
    }

    .references div { 
        font-size: 10px;
        font-weight: bold;
        min-height: 2rem;
    }
    
}

/* MEDIA QUERY FOR 575PX SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    header {
        padding-bottom: 30px;
        justify-content: flex-start;
        position: relative;
    }

    header h1 {
        font-weight: bold;
        font-size: 26px; 
        margin: 15px 0 15px 35px;
    }

    header nav {
        margin-bottom: -10px;
    }

    header nav ul li a {
        margin: 0;
        padding: 15px;
        font-size: 14px;
    }

    .header-box {
        content: "";
        height: 100%;
        width: 95%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    } 

    .hero {
        height: 250px;
        background-size: cover;
        background-position: top;
    }

    .hero-subtitle {
        margin: 75px 125px 0 0;
    }

    .hero-subtitle h2 {
        font-size: 22px;
    }
    
    .hero-subtitle h3 {
        font-size: 16px;
    }

    .about-me h3 {
        width: 80%;
        height: 20px;
        font-size: 36px;
        text-align: left;
        margin: 30px 50px 10px 50px;
    }
      
    .about-me p { 
        width:80%;
        margin: 30px 65px 0 50px;
        padding: 30px 10px 0 0;
        font-size: 14px;
        line-height: 1.5;
        border-top: 3px solid var(--first-color);
        border-left: none;
    }

    .container {
        width: 100%;
        margin-left: 50px;
        padding: 30px 15px 0 15px;
        border-top: 3px solid var(--first-color);
        border-left: none;
    }

    .button {
        background-color: var(--second-color);
        font-weight: normal;
        font-size: 6px;
    }

    .references div { 
        font-size: 6px;
        font-weight: bold;
        min-height: 2rem;
    }
}
  